.content{
    max-width: 1230px;
    margin: auto;
}
  .heading-3 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .heading_1 {
    font-size: 48px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    line-height: 1.15em;
  }
  .heading_2 {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
  }
  .base-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
/* html{
    width:100%;
    height:100%; */
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p,
hr{
    padding: 0;
    margin:0;
}

body{
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    cursor:pointer;
}
*{
    box-sizing: border-box;
}
/*
==============================================
Overall styles
==============================================
*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="accent"] {
    color: #ff5e48;
  }
  [class*="align-right"] {
    text-align: right;
  }
  [class*="align-left"] {
    text-align: left;
  }
  [class*="align-center"] {
    text-align: center;
  }
  .text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  .number {
    color: #ff5e48;
    font-size: 140px;
    font-weight: bold;
  }
  .button{
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #ff5e48;
    border: 1px solid #ff5e48;
    padding: 15px 34px;
    font-weight: bold;
}
.button_transparent{
    cursor: pointer;
    color: #ff5e48;;
    text-transform: uppercase;
    font-size: 18px;
    background-color:transparent;
    border: 1px solid #ff5e48;
    padding: 15px 34px;
    font-weight: bold;
}

 .button:hover {
    color: #ff5e48;
    background-color: white;
    transition: 0.5s ease;
  }
  
  .button_transparent:hover {
    color: white;
    background-color: #ff5e48;
    transition: 0.5s ease;
  }
  .link {
    cursor: pointer;
  }
  .link:hover {
    color: #ff5e48;
  }
.dash {
    border: none;
    width: 30px;
    border-bottom: 1px solid #ff5e48;
    /* display: block; */
    margin: auto;
}
/* hover__element
hover__element:hover .hover__box
hover__heading */
.site{
    width:100%;
    height:100%;
    margin:0;
    /* -webkit-font-smoothing: antialiased; */
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}
/* mobile */
/* mobile__menu-icon */
.topBar{
    background-color: black;
    padding: 12px 0;
    /* text-align: center; */
}
.bar-text{
    color:white;
    text-transform: uppercase;
}
.bar-text a{
    color:white;
    border-bottom: 1px solid white;
    font-weight: bold;
}


header{
    padding: 20px;
    border-bottom: 1px solid #c7c6c6;
}
.header-desktop{
    /* separte class content */
    /* max-width: 1230px; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    
}
.nav{
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    /* display:flex; */
    /* align-items:center; */
}
/* .class for ul */
.left-menu{
    display: flex;
    /* justify-content: flex-start; */
}
.right-menu{
    display: flex;
    justify-content: flex-start;
}



.login{
    width: 134px;
}
.login a{
    color: #231f20;
}

.menu-item:not(:last-child) {
    margin-right: 25px;
}

.cart{
    margin-left: 40px;
}

.logo {
    flex-grow: 1;
    text-align: center;
}
/* expand-menu */
.menu-expand{
 position: absolute;
  background-color: white;
  width: 100%;
  top: 118px;
  display: none;
}
.menu-expand.active{
    display: block;
}
.menu-expand__content {
    padding-left: 134px;
    display: flex;
    justify-content: space-between;
  }

.menu-expand__menus {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    margin-right: 80px;
    padding: 20px 0px;
}
.hero{
    background-color: #00c4d5;   
}
.hero__content{
    background-image: url(../assets/hero-bg.jpg);
    background-repeat: no-repeat;
    padding: 108px 0px 148px 134px;
}

.hero__heading {
    font-size: 48px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    line-height:1.15em;
    max-width: 480px;
    margin-bottom: 38px;
}

.hero__description{
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: normal;
    max-width: 480px;
    margin-bottom: 30px;
}
/*
 @media screen and (max-width: 980px) {
  .hero__content {
    background-size: cover;
    padding: 150px 8%;
    background-position-x: 33%;
  }
} */

/* .features{
    max-width: 800px;
    margin: 0 auto;
} */
.features__content{
    padding: 40px 0;
}
.features__heading{
    text-transform: uppercase;
    font-size:28px;
    letter-spacing: 2px;
    margin-bottom:40px;
}
.features__text{
    max-width:32rem;
    margin:auto;
    margin-bottom: 50px;
}
.features__boxes{
    display:-webkit-box;
    display:-ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width:800px;
    margin:auto;
    margin-bottom:13px;
} 
.features__box{
    position:relative;
    width: 200px;
    height: 180px;
    cursor:pointer;
}
.features__box-link{
    position: absolute;
    z-index:10;
    width:80%;
    left:0;
    top:37%;
    text-align:left;
    border-bottom: 1px solid black;
    color:black;
}
/* .box a:hover{
    color: #ff5e48;
}
 */
.features__box-number{
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
}
.features__button{
    margin: 0px auto;
    display: block;
}

@media screen and (max-width:980px){
    .features__boxes{
        display: block;
        margin-bottom: 30px;
    }
    .features__box{
        margin:auto;
    }
}
.info__heading {
    margin-bottom: 26px;
  }
.info__heading-wrapper {
    margin-bottom: 24px;
}
.info__subheading {
    margin-bottom: 15px;
}
.info__text {
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;
  }
.info__dash{
    color:#ff5e48;
    width:40px;
}
.drinks{
    background-color: #9be5e4;
}
.drinks__content{
    background-image: url(../assets/drinks-bg.jpg);
    background-repeat: no-repeat;
    padding: 75px 0 138px;   
}

@media screen and (max-width: 980px) {
    .drinks__content {
      background-size: cover;
      background-position-x: 50%;
    }
  }
.products__content{
    padding: 50px 0;
}
.products__heading{
    margin-bottom: 20px;
}
.products__dash{
    margin-bottom:22px;
}
.products__text{
    max-width:450px;
    margin:auto;
    margin-bottom:50px;   
}
.products__imgs{
    display :-webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding:0 20px;
    margin-bottom: 44px; 
    /* -ms-flex-wrap:wrap; */
    flex-wrap:wrap;  
}
.products__img-box{
 cursor: pointer;
  flex: 1;
  max-width: 270px;
  max-height: 270px;
  overflow: hidden;
}
.products__img-box:not(:last-child) {
    margin-right: 20px;
  
}
.products__img{
    width:100%;
}
.hover__element{
    position:relative;
}
.hover__element:hover .hover__box{
    opacity:1;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #ff5e48;
  
  }
.hover__box{
    opacity:0;
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    transition: 0.5s ease;
}
.hover__heading{
  position:absolute;
  width:100%;
  /* transform:translate(-50%,-50%); */
  text-align:center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #ff5e48;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width:980px) {
    .products__imgs{
        flex-direction: column;
        align-items: center;
    }
    .products__img-box:not(:last-child){
        margin-right:0;
        margin-bottom: 20px;
    }
    
    
}
.cleanse {
    background-image: linear-gradient(to bottom right, #cceeff, #86b2f0);
  }
.cleanse__content{
    background-image: url(../assets/cleanse.jpg);
    background-repeat: no-repeat;
    padding: 75px 0 138px;
}

@media screen and (max-width: 980px) {
    .cleanse__content {
      background-size: cover;
      background-position-x: 50%;
    }
  }
.locations__content{
    padding: 50px 0;
}
.locations__heading{
    margin-bottom:95px;
}
.locations__boxes{
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    margin-bottom: 44px;  
}
.footer{
    border-top: 1px solid #c7c6c6;
    border-bottom: 1px solid #c7c6c6;
}
.footer__content{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    
}
@media screen and (max-width: 980px) {
    .footer__content {
      display: block;
      max-width: 270px;
      margin: auto;
    }
  }
.subscribe__heading{
    color: #231f20;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
margin-bottom:20px;
}
.subscribe__field{
    width: 285px;
    padding: 12px 0 12px 4px;
    margin-right:10px;
}
.subscribe__button{
    border: 1px solid #ff5e48;
  padding: 12px;
  color: #ff5e48;
  text-align: center;
  width: 100px;
  cursor: pointer;

}
.subscribe__button:hover {
    background: #ff5e48;
    color: white;
    transition: 0.5s ease;
  }
.footer__list-heading{
    margin-bottom:40px;
}
.copyright{
   
  background-color: #f9f9f9;
  padding: 20px 0;
}
.copyright__content{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.copyright__link {
    color: #999596;
  }
  .copyright__text_big {
    flex-grow: 2;
  }
  .copyright__text:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and (max-width: 980px) {
    .copyright {
      text-align: center;
    }
    .copyright__content {
      display: block;
    }
    .copyright__text:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  .content__inner{
      max-width:900px;
  }